.certificate {
  @extend %bg-cover;
  background-image: url('../images/dest/sectionOrder/certificate.png');
  min-height: 655px;

  &__title {
    font: 700 20px / 36px $font;
    margin-bottom: 10px;
    margin-top: auto;
  }

  &__item {
    color: #2356db;
    font: 400 13px / 36px $font;
    margin-bottom: 10px;
  }

  &__discount {
    font: 400 16px/20px $font;
    width: 200px;
    text-align: center;
    margin-bottom: 6px;
    margin-left: -60px;
  }

  &__text {
    border: 1px solid #000;
    padding: 12px 9px;
    max-width: 350px;
    font: 400 14px / 16px $font;
    text-align: center;
    margin-bottom: 25px;
  }
  &__offer{
    max-width: 420px;
    padding: 12px 9px;
    text-align: center;
    font: 400 14px / 16px $font;
    margin-bottom: 48px;
  }
}

.form {
  width: 257px;

  &__input {
    width: 100%;
    height: 50px;
    margin-bottom: 13px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    font: 400 14px/16px $font;
    &::placeholder {
      font: 400 14px / 16px $font;
      color: #bdbdbd;
      text-align: center;
    }
  }

  &__btn {
    text-transform: uppercase;
    height: 50px;
    font: 700 20px / 50px $font;
    width: 100%;
    text-align: center;
    background-color: #4b709b;
    color: $white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}