.interview {

  &__img {
    margin-bottom: 10px;
  }


  &__news {
    max-width: 400px;
    font-style: italic;
    color: #6b6b6b;
    margin-bottom: 35px;
    font: 400 16px / 19px $font;
  }
}

.talk {
  &__title {
    font: 700 20px / 24px $font;
    margin-bottom: 20px;
  }

  &-question {
    &__text {
      font-weight: 400;
      margin-bottom: 35px;
      padding-right: 15px;

      &--accent {
        font-weight: 700;
      }
    }
  }

  &-answer {

    &__text {
      margin-bottom: 30px;
      padding-right: 10px;

      &--accent {
        font-weight: 700;
        color: #004507;
      }

      &--under {
        font-weight: 700;
        border-bottom: 1px solid $black;
      }
    }

    &__title {
      color: #0099FF;
      font: 700 25px /30px $font;
      max-width: 360px;
      text-align: center;
    }
  }
}

.talk-decor {
  margin-bottom: 25px;

  &__img {
    margin-bottom: 20px;
  }

  &__text {
    max-width: 314px;
    font: 'italic'400 20px / 24px $font;
    color: #6f6f6f;

    &--full {
      max-width: 100%;
    }
  }
}

.talk-answer__list {
  counter-reset: item;

  &-item {
    margin-bottom: 30px;
  }

  &-title {
    font: 700 20px/24px $font;
    margin-bottom: 30px;

    &::before {
      counter-increment: item;
      content: counter(item)'.';
    }
  }

  &-text {
    &--accent {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.talk-present {
  margin-bottom: 30px;
  &__text {
    max-width: 105px;
    font: 400 16px / 19px $font;
    text-align: center;
    &--left{
      left: 18px;
    bottom: 50%;
    }
    &--right{
      right: 10px;
    bottom: 53%;
    }
  }
}

.product-img {
  width: 130px;
  margin-bottom: 20px;
}

.product-composition {
  padding: 0 15px;
  margin-bottom: 20px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__img {
    width: 130px;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 10px;
    font: 700 19px / 24px $font;
  }

  &__descr {
    font: 400 19px / 24px $font;
  }
}

.talk-answer__present {
  margin-top: 40px;
  margin-bottom: 45px;
  background-color: #faf7f8;
  padding-bottom: 15px;

  &-img {
    margin-bottom: 20px;
  }

  &-text {
    font: 700 15px / 18px $font;
    max-width: 270px;
    text-align: center;
    color: #000000;
  }

  &-top {
    top: 30px;
    right: 20px;
    text-align: left;
    max-width: 350px;
  }

  &-left {
    bottom: 45px;
    left: 21.5%;
  }

  &-right {
    bottom: 27px;
    right: 10%;
    max-width: 150px;
  }
}