.logo {
    padding: 10px;
    justify-content: center;
    @extend %bg-cover;
    background-image: url('../images/dest/logo-bg.jpg');

    &__img {
        width: 62px;
        margin-right: 15px;
    }

    &__text {
        font: 700 20px / 23px $font;
        color: $white;
        text-transform: uppercase;
    }
}