@media (max-width: 450px) {
  .comments-answer {
    margin-left: 3%;
  }

  .comment-actions {
    margin-left: -61px;
  }
}

@media (max-width:420px) {
  .certificate {
    min-height: 590px;
  }

  .form__input {
    height: 35px;
  }

  .form__btn {
    height: 35px;
    font: 700 20px/38px "Myriad Pro";
  }

  .certificate__text {
    max-width: 310px;
    margin-bottom: 15px;
    padding: 5px 5px;
  }

  .certificate__item {
    margin-left: -20px;
  }

  .certificate__offer {
    max-width: 310px;
  }

  .causes__items {
    min-height: 290px;
  }

  .causes__item {
    padding-left: 85px;
  }
}

@media (max-width: 390px) {
  .comment-actions {
    margin-left: -90px;
  }

  .comments-answer .comment .comment-user .comment-user__content .comment-actions {
    margin: 10px 0 0 -60px;
  }
}

@media (max-width:375px) {
  .certificate {
    min-height: 530px
  }

  .certificate__offer {
    max-width: 264px;
    padding: 0 9px;
    text-align: center;
    font: 400 14px/16px "Myriad Pro";
    margin-bottom: 48px;
    margin-top: 11px
  }

  .certificate__text {
    border: 1px solid #000;
    padding: 5px 6px;
    max-width: 280px;
    font: 400 14px/14px "Myriad Pro";
    text-align: center;
    margin-bottom: 17px
  }

  .certificate__discount {
    font: 400 13px/16px "Myriad Pro";
    width: 200px;
    text-align: center;
    margin-bottom: 0;
    margin-left: -50px
  }

  .certificate__title {
    font: 700 20px/36px "Myriad Pro";
    margin-bottom: 0;
    margin-top: auto
  }

  .certificate__item {
    color: #2356db;
    font: 400 13px/20px "Myriad Pro";
    margin-bottom: 10px
  }

  .causes__item {
    padding-left: 70px;

    &:last-child {
      padding-left: 10px;
    }


  }

  .causes__item-text--accent {

    transform: translateX(0px);
  }
  .answer-table__list-item::before {
    top: 0;
    left: 0px;
}
.answer-table__list-item {
  padding-left: 21px;
  font: 400 15px/20px "Myriad Pro";
  padding-right: 2px;
  position: relative;
}
}

@media (max-width: 360px) {
  .comment-actions__btn {
    font: 700 14px/19px Roboto;
  }
}

@media (max-width:350px) {

  .comments {
    padding: 37px 5px 100px;
  }
}